logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
projectFilesBackup*
application-log-*.gz
/logs/
dist
tmp
test-result
.cache
.history
.eclipse
*.iml
*.eml
server.pid
tmp/
bin/
project/target
projectFilesBackup*
/out
/db
/modules
/target
.sbtserver/*
.sbtserver
.sbtserver.lock